@import "../styleguide/styleguide.scss";
@import "texts500.scss";
.texts-container {
	background-color: $paper;
	padding: 25px 0;
	text-align: center;
	.text {
		margin: 0 25px;
		width: 100px;
		vertical-align: top;
		padding: 5px 0;
		display: inline-block;
		.text-icon-container {
			width: 80px;
			margin: 0 auto;
		}
	}
}
